<h2>Add a New Bookmark</h2>
<br>
<span>Available Tags:</span>
<span ng-repeat='(key,tag) in tags'>
  <span class="badge cursorBadge click-{{tag.click}}" ng-click="clicked(key)">{{tag.name}}</span> 
</span>
<hr>
<div class="form-inline">
  <label for="title">Link Title: </label>
  <input id="title" type='text' placeholder='bookmark title' ng-model='name' class="form-control"> 
  <label for="link">Url: </label>
  <input id="link" type='text' placeholder='your url' ng-model='url' class='form-control'>  
</div>
<hr>

<button class = "btn btn-default" ng-click='postLink(name, url, tags)'>Submit</button>
  
</div>
