<h2>Add a New Bookmark</h2>
    {{finish}}
  <br>
  <br>
  <input type='text' placeholder='bookmark title' ng-model='name'> 
  <input type='text' placeholder='your url' ng-model='url'>  

  <p>
  <br>
    <textarea placeholder='type in your tags here, separated by spaces' ng-model="list" ng-list="&#32;" ng-trim="false">asdf</textarea>
  
  <p>for testing purposes: 
    <pre>{{ list }}</pre>

  <a ng-click='submit(name, url, list)'>submit</a>


<script>
function() {
  var listInput = element(by.model('list'));
  var output = element(by.binding('list | array'));
  listInput.sendKeys('abc\ndef\nghi');
  expect(output.getText()).toContain('[\n  "abc",\n  "def",\n  "ghi"\n]');
});
</script>